p#pogrubienie_karmasz
{
font-size:32px;
color:#885BD0;
}
p#pochylona_karmasz
{
font-size:37pt;
color:#ECBF6C;
}	
p#index_gorny_karmasz
{
font-size:1.2cm;
color:#9C8D1C;
}
p#index_dolny_karmasz
{
font-size:1.9cm;
color:rgb(22%,95%,89%);
}
p#mono_karmasz
{
font-size:42px;
color:#1CDD6C;
}
p#powiekszenie_karmasz
{
color:#563D9E;
}
p#pomniejszenie_karmasz
{
color:rgb(73%,63%,23%);
}