p
{
font-size:21mm;
background-color:silver;
color:rgb(28,252,3);
}
p:lang(pl)
{
font-size:28mm;
background-color:silver;
color:rgb(255,0,0);
}
p:lang(en)
{
background-color:silver;
font-size:35mm;
color:rgb(255,145,0);
}